/* you can import CSS from other pens - we'll import color and typography styles from this pen */
@import url(//codepen.io/team/codepen/pen/NxwJpr.css);
html,body {
  padding: 5px;
  background-color: transparent;
  background-image: url(gender12.png);
  background-repeat: repeat;
  background-attachment:fixed;
  background-size: contain;
  background-position: center center;
  background-size: 70px 70px;
  color: #666;
  margin: 5em;
}

#header h1 {
  font-size: 3em;
  font-family: Trebuchet MS;
  /*font-family: 'Open Sans', sans-serif;*/
  text-align: center;
  background: rgba(255,255,255,0.9);
  -webkit-font-smoothing: antialiased;
  color: black;
  border-top: 3px solid #ff3399;
  border-bottom: 3px solid #ff3399;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#header_info {
  margin-bottom: 30px;
  padding: 5px;
  /*color: #666;*/
  color : black;
  font-family: 'Bradley Hand', cursive;
  font-size: 120%;
  width: 40%;
  min-width: 600px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: rgba(255,255,255,0.9);
  -webkit-font-smoothing: antialiased;
  /*font-family: Verdana, sans-serif;*/

}

.question {
  text-align: center;
  color: black;
  margin: 0;
  padding: 5px;
  margin-bottom: 10%;
  width: 100%;
  background:rgba(255,255,255,0.9);
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
}
.question h2 {
  margin-bottom: 2%;
  width: 100%;
  padding: 0;
  border-top: 4px solid #E6E6E6;
  border-bottom: 4px solid #E6E6E6;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.ghost-button {
    color:#ff3399;/* #009688;*/
    background: #fff;
    border: 1px solid #ff3399;/*#009688;*/
    font-size: 17px;
    padding: 7px 12px;
    font-weight: normal;
    margin: 6px 0;
    margin-right: 12px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    min-width: 120px;

}

.ghost-button:hover, .ghost-button:active, ghost-button:visited {
  color:#fff;
 background:#ff3399;/*#009688;*/
}

.hide-me-first {
  display: none;
  width: 100%;
  padding: 50px 0;
  text-align: center;
  color: black;
  /*background-color: lightblue;*/
  background-color: transparent;
  margin-top: 20px;
  font-family: Verdana, sans-serif;
  align-items: center;
}
#ans1, #ans3, #ans4, #ans6, #ans8, #ans9, #ans10, #ans12, #ans13, #ans14, #ans16, #ans17 {
  border-top:  solid rgba(255, 0, 0, 0.4); /*red with transperency*/
  border-bottom:  solid rgba(255, 0, 0, 0.4);
  border-left: solid rgba(255, 0, 0, 0.4);
  border-right: solid rgba(255, 0, 0, 0.4);
  border-left-width: medium;
  border-right-width: medium;
  color: black;
  align-items: center;

}

#ans2, #ans5, #ans7, #ans11, #ans15, #ans18 {
  border-top: 20px solid hsla(120,100%,75%,0.3);/*red with transperency*/
  border-top:  solid hsla(120,100%,75%,0.3); /*red with transperency*/
  border-bottom:  solid hsla(120,100%,75%,0.3);
  border-left: solid hsla(120,100%,75%,0.3);
  border-right: solid hsla(120,100%,75%,0.3);
  border-left-width: medium;
  border-right-width: medium;
  color: Black;
  align-items: center;
}

.comment {
  text-align: center;
  margin-left: 100px;
  margin-right:100px;
  color: black;
}

.comment {
  text-align: center;
  margin-left: 100px;
  margin-right:100px;
  color: black;
}

/*To put two graphs of question 4 on a same row*/
#first_column,
#second_column {
  width: 50%;
}

#first_column {
  float:left;
}

#first_column {
  float:right;
}

